/*sass*/
.index-banner {
  padding: 0 !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../../images/arrows1_01.jpg");
  left: 20%;
  top: 98%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../../images/arrows1_02.png");
  left: 21%;
  top: 98%;
}

.myswiper1 .swiper-slide {
  position: relative;
}

.myswiper1 .swiper-slide .swiper-dec {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
}

.myswiper1 .swiper-slide .swiper-dec .fist-t {
  font-size: 1rem;
  color: #ccd0d7;
}

.myswiper1 .swiper-slide .swiper-dec .two-t {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.myswiper1 .swiper-slide .swiper-dec .thre-t {
  text-align: center;
}

.myswiper1 .swiper-slide .swiper-dec .thre-t span {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.myswiper1 .swiper-slide .swiper-dec .thre-t span i {
  color: #fff;
  line-height: 56px;
  font-size: 30px;
}

/* teo*/
.twobox {
  background: #f8f8f8;
  padding: 53px 0 176px 0;
}

.two-h3 h3 {
  color: #333;
}

.h3-title {
  font: 1.1rem/3rem "PingFang";
}

.p-center {
  font: 12px/26px "PingFang";
  color: #333;
}

.dy-a-btn {
  color: #a1a1a1;
  text-align: center;
  border: 1px solid #dcdcdc;
  font-size: 12px;
}

.dy-a-btn:hover {
  background: #233876;
  color: #fff;
}

/* threebox*/
.threebox .nums-wap {
  margin-top: -90px;
  background: #fff;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
}

.item-num {
  position: relative;
}

.item-num:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 45px;
  background-color: #ebebeb;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item-num .num-box {
  padding: 3rem 0;
}

.item-num .num-box .num-s {
  margin: 0;
  font: 42px/48px "PingFangSC-Light";
  color: #333;
  letter-spacing: -1.9px;
}

.item-num .num-box .num-s b {
  font-weight: normal !important;
  font-stretch: normal !important;
}

.item-num .num-box .num-s span {
  font: 14px/14px "PingFangSC-Light";
  vertical-align: top;
}

.item-num .num-box .num-title {
  margin: 0;
  font: 14px/16px "PingFangSC-Light";
  color: #333;
}

/*----------for-------*/
.forbox {
  margin-top: 6rem;
  background: url("../../images/bg-fore.jpg") no-repeat center center;
}

.forbox .leader-box {
  padding: 114px 0 86px;
}

.forbox .leader-box .leader-title {
  margin: 0;
  font: 30px/40px "PingFang";
  color: #000;
}

.forbox .leader-box .leader-dec {
  margin: 0;
  font: 16px/24px "PingFang";
  color: #929292;
}

.forbox .leader-box .dy-line {
  margin: 1.6rem 0;
  width: 28px;
  height: 2px;
  background: #143290;
}

.forbox .leader-box .leader-center {
  font: 16px/24px "PingFang";
  color: #929292;
}

.forbox .leader-box .leader-center p {
  color: #929292;
}

.forbox .leader-box a {
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #143290;
}

.forbox .leader-box a:hover {
  box-shadow: 0px 0px 15px 0px rgba(20, 50, 144, 0.28);
}

/* five*/
.fivebox {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.five-item div {
  position: relative;
  padding-top: 14px;
  min-height: 6rem;
  cursor: pointer;
}

.five-item div::after {
  content: "";
  border: 1px solid rgba(170, 170, 170, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.five-item div:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.36s ease;
  -webkit-transition: all 0.36s ease;
  -o-transition: all 0.36s ease;
  transition: all 0.36s ease;
}

.five-item div img {
  min-width: 5rem;
}

.five-item h5 {
  font-size: 1rem;
  line-height: 4rem;
  margin: 0;
  color: #333333;
}

.sexbox {
  padding-top: 20px;
  background: #2a2828;
}

.sexbox h4 {
  margin: 0;
  font-size: 20px;
  line-height: 1.6rem;
  color: #fff !important;
}

.sexbox h3 {
  margin: 0;
  font-size: 24px;
  line-height: 1.6rem;
  color: #fff !important;
}

.sexbox h5 {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #fff !important;
}

.sexbox p {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #fff  !important;
}

.sexbox .decion-p {
  margin-top: 2.5rem;
}

.sexbox .fa-icon a {
  line-height: 4rem;
  color: #B3B3B3;
  margin-right: 20px;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.sexbox .fa-icon a:hover {
  color: #fff;
}

/* footes***/
.footers {
  padding: 10px 0  5px 0;
  background: #1c1b1b;
}

.footers p {
  margin: 0;
  color: #a3a3a3;
  font-size: 13px;
}

.footers p a {
  color: #a3a3a3;
  color-font-size: 13px;
}

.right-fixed {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  margin-top: -60px;
}

.right-fixed #shares a {
  display: block;
  color: #000;
  line-height: 40px;
  text-align: center;
  padding: 0 1rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.right-fixed #shares a:hover {
  background: #143290;
  color: #fff;
}

.show-weix {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  overflow-y: auto;
}

.show-weix .wx {
  width: 258px;
  height: 298px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -129px;
  margin-top: -149px;
}

/*  media */
@media (min-width: 768px) {
  .five-item {
    width: 20% !important;
  }
}

@media (max-width: 576px) {
  .sm-none {
    display: none;
  }
  .twobox {
    padding: 53px 0 8rem 0;
  }
  .five-item {
    width: 50% !important;
  }
  .forbox {
    margin-top: 1rem;
    padding-bottom: 5rem;
  }
  .forbox .leader-box {
    padding: 0;
  }
  .fivebox {
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .right-fixed {
    display: none;
  }
  .sexbox {
    padding-top: 20px;
    padding-bottom: 10px;
    background: #2a2828;
  }
  .sexbox h4 {
    margin: 0;
    font-size: 14px;
    line-height: 1.6rem;
    color: #fff !important;
  }
  .sexbox h3 {
    margin: 0;
    font-size: 14px;
    line-height: 1.6rem;
    color: #fff !important;
  }
  .sexbox h5 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff !important;
  }
  .sexbox p {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: #fff  !important;
  }
  .sexbox .decion-p {
    margin-top: 0;
  }
  .footers {
    padding: 10px 0  10px 0;
    background: #1c1b1b;
  }
  .footers p {
    font-size: 14px;
    margin: 0;
    color: #fff;
  }
  .index-banner img {
    max-height: 60vh;
  }
}

@media (min-width: 768px) {
  .sexbox {
    padding: 66px  0;
  }
}

.s-n-nav {
  display: none;
}

.nav-top {
  position: fixed;
  top: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 99;
  padding: 0.8rem 0 0;
}

.nav-top .div-flex {
  display: flex;
}

.nav-top .n-nav {
  display: flex;
  padding: 0 !important;
  margin: 0 0 0 5%;
}

.nav-top .n-nav li {
  list-style: none;
  justify-content: flex-end;
  border-bottom: 1px solid  transparent;
}

.nav-top .n-nav li a {
  display: inline-block;
  padding: 0 1.2rem;
  text-align: center;
  line-height: 5rem;
  text-decoration: none;
  color: #fff;
}

.nav-top .n-nav li:hover {
  border-bottom: 2px solid  #fff;
}

.nav-top2 {
  background: #fff;
}

.nav-top2 .div-flex {
  display: flex;
}

.nav-top2 .div-flex .n-nav {
  display: flex;
  padding: 0 !important;
  margin: 0 0 0 5%;
}

.nav-top2 .div-flex .n-nav li {
  list-style: none;
  justify-content: flex-end;
  border-bottom: 1px solid  transparent;
}

.nav-top2 .div-flex .n-nav li a {
  display: inline-block;
  padding: 0 1.2rem;
  text-align: center;
  line-height: 5rem;
  text-decoration: none;
  color: #333;
}

.nav-top2 .div-flex .n-nav li:hover {
  border-bottom: 2px solid  #143290;
}

@media (max-width: 960px) {
  .nav-top {
    padding: 0.8rem 0 0;
  }
  .nav-top .div-flex {
    display: flex;
  }
  .nav-top .div-flex .logo {
    padding-bottom: 0.03rem;
  }
  .nav-top .div-flex .n-nav {
    display: flex;
    padding: 0 !important;
    margin: 0 0 0 5%;
  }
  .nav-top .div-flex .n-nav li {
    list-style: none;
    justify-content: center;
    border-bottom: 1px solid  transparent;
  }
  .nav-top .div-flex .n-nav li a {
    display: inline-block;
    padding: 0 0.1rem;
    text-align: center;
    line-height: 5rem;
    text-decoration: none;
  }
  .nav-top .div-flex .n-nav li:hover {
    border-bottom: 1px solid  #fff;
  }
}

@media (max-width: 768px) {
  .n-nav li a {
    padding: 0 0.05rem;
  }
}

@media (max-width: 768px) {
  .nav-top {
    display: none;
  }
  .s-n-nav {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 0.2rem;
    display: block !important;
  }
  .s-nav-b {
    position: relative;
  }
  .s-nav-b .s-logo img {
    width: 4rem;
  }
  .s-nav-b .s-btn {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #fff;
  }
  .s-nav-b .s-btn i {
    font-size: 1.5rem;
  }
  .s-nav-b .s-nav-ul {
    padding: 0;
    margin: 0 0;
    list-style: none;
    height: 0;
    overflow: hidden;
  }
  .s-nav-b .s-nav-ul li {
    list-style: none;
  }
  .s-nav-b .s-nav-ul li a {
    display: block;
    text-decoration: none;
    line-height: 2.6rem;
    color: #fff;
  }
  .s-n-nav2 {
    background: #fff;
  }
  .s-n-nav2 .s-logo img {
    width: 4rem;
  }
  .s-n-nav2 .s-btn {
    color: #000;
  }
  .s-n-nav2 .s-nav-ul {
    padding: 0;
    margin: 0 0;
    list-style: none;
    height: 0;
    overflow: hidden;
  }
  .s-n-nav2 .s-nav-ul li {
    list-style: none;
  }
  .s-n-nav2 .s-nav-ul li a {
    text-decoration: none;
    line-height: 2.6rem;
    color: #000;
  }
  .myswiper1 .swiper-slide a {
    position: relative;
    display: block;
    height: 240px;
  }
  .myswiper1 .swiper-slide a .swiper-dec {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -30px;
  }
  .myswiper1 .swiper-slide a .swiper-dec .fist-t {
    font-size: 0.5rem;
    color: #ccd0d7;
  }
  .myswiper1 .swiper-slide a .swiper-dec .two-t {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  .myswiper1 .swiper-slide a .swiper-dec .thre-t {
    text-align: center;
  }
  .myswiper1 .swiper-slide a .swiper-dec .thre-t span {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .myswiper1 .swiper-slide a .swiper-dec .thre-t span i {
    color: #fff;
    line-height: 28px;
    font-size: 15px;
  }
  .myswiper1 .swiper-slide a img {
    width: auto;
    height: 100%;
  }
}
