
html,body * {
	-webkit-user-select: none;
	font-family: "PingFang SC Regular",Helvetica,Tahoma,Arial,Microsoft YaHei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
	
}
html {
	font-size: 1rem;
  }
  
 