@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-size: 14px;
	-webkit-user-select: none;
}

body * {
	-webkit-user-select: none;
	font-family: "MicrosoftYaHei,Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif,ArialMT;line-height: 1.5;
	
}

/* @font-face {
	font-family: myfont;
	src: url('../fonts/PingFang Medium.ttf')format('truetype');
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
	font-size: 14px;

}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

dl,
dd,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

b,
strong {
	font-weight: normal;
}

em,
i {
	font-style: normal;
}

img {
	vertical-align: middle;
	border: none;
}
input,textarea{
	outline: none;
	border: none;
}
a:hover,
.on {
	color: #1890ff;
}

/**,
	::before,
	::after{
		margin: 0;
		padding:0;
	    -webkit-box-sizing: border-box;
		box-sizing: border-box;
	}*/

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.layout {
	width: 1000px;
	margin: 0 auto;
}
.bg-layout{
	padding: 0 60px  0 50px;
	
}
@media screen and (max-width:320px){  
	html{ font-size:44.44px;}

}
@media screen and (min-width:321px) and (max-width:375px){  /* */
	
	html{ font-size:52.08px;}

}
@media screen and (min-width:376px) and (max-width:414px){  /**/
	
	html{ font-size:57.5px;}

}


@media screen and (max-width: 1000px){
	.layout {
    width: 98%;
}
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100;}


