.banner
    position: relative
.fixed
    position: absolute
    width: 100%
    height: 220px 
    z-index: 99
.h3-title
    font: 24px/40px MicrosoftYaHei
    color: #233975
    span
        font: 14px/24px MicrosoftYaHei
        color: #bebebe
.swiper-slide   
    text-align: center 
    font-size: 18px 
    background: #fff 

    /* Center slide text vertically */
    display: -webkit-box 
    display: -ms-flexbox 
    display: -webkit-flex 
    display: flex 
    -webkit-box-pack: center 
    -ms-flex-pack: center 
    -webkit-justify-content: center 
    justify-content: center 
    -webkit-box-align: center 
    -ms-flex-align: center 
    -webkit-align-items: center 
    align-items: center 
    


.swiper-pagination-bullet  
    width: 10px 
    height: 10px 
    background: #ccc 
    vertical-align: middle 
    
    
.swiper-pagination-bullet-active  
    width: 8px 
    height: 8px 
    background: #fff 
    border: 5px solid #ccc 
    border-radius: 50% 
    
.swiper-button-next, .swiper-container-rtl .swiper-button-prev  
    background-image: none !important 
    left: auto 
    color: #233975 
    width: 26px 
    height: 26px 
    line-height: 26px 
    text-align: center 
    font-size: 14px 
    border: 1px solid #233975 
    
.swiper-button-prev, .swiper-container-rtl .swiper-button-next  
    background-image: none !important 
    left: 10px 
    right: auto 
    color: #233975 
    width: 26px 
    height: 26px 
    line-height: 26px 
    text-align: center 
    font-size: 14px 
    border: 1px solid #233975 
 
// head
.head-list
    color: #fff
    font-family: MicrosoftYaHei
    letter-spacing: 0.2px
    .head-title
        line-height: 32px
    .head-collect
        span
            display: inline-block
            width: 1px
            height: 11px
            margin: 0 12px
            background-color: #fff
            opacity: 0.59
        li
            line-height: 32px
.top
    border-top: 1px solid  #999
    border-bottom: 1px solid #999
    .top-box
        margin: 32px auto 28px
        .logo-box
            margin-right: 20px
        .top-tilte
            color: #fff
            font-family: MicrosoftYaHei
            font-size: 28px
            line-height: 33px
            span
                font-family: MicrosoftYaHei
                font-size: 14px
                line-height: 33px
                letter-spacing: 0.3px
        .top-right
            font-size: 18px
            line-height: 33px
            color: #fff
            span
                float: right
                font: 18px/33px MicrosoftYaHei
                font-weight: bold
.nav
    height: 50px
    border-bottom: 1px solid  #999
    .nvbox

        li
            margin: 0 34px
            //height: 32px
            a
                display: inline-block
                padding: 0 14px
                font-family: MicrosoftYaHei-Bold
                font-size: 16px
                line-height: 48px
                color: #ffffff
            a:hover
                border-bottom:  3px solid #0088de
        .fist-li
            margin-left: 0
.banner
.aboutus
    padding: 46px 0 0 0 
    height: 590px
    .about-left
        width: 650px
        h4
            margin-top: 34px
            font: 18px/80px MicrosoftYaHei
            letter-spacing: 0.4px
            color: #343434
        p
            font: 14px/24px MicrosoftYaHei
            color: #999
            text-overflow: ellipsis
            overflow: hidden
        a
            display: inline-block
            margin-top: 70px
            padding:  0 50px
            border:  1px solid #dcdcdc
            text-align: center
            font: 14px/26px MicrosoftYaHei
            color: #bfbfbf
        a:hover
            background: #1890ff
            color: #fff
               
       
    .about-right
        position: relative
        width: 410px
        height: 288px
      
        border: 2px solid #0088de
        img
            position: absolute
            margin: 10px 0 0 10px

.articles
    background: #fafafa
    padding: 0 0 60px 0
    
    .articles-box
        .swip-2
            margin: -30px 0 0 0
            height: 220px
            box-shadow: 0px 5px 24px 0px #eaeaea
            border-radius: 4px 
            .swi-list
                position: relative
                padding: 42px 72px 30px 78px 
                box-sizing: border-box
                width: 300px
                height: 220px
                background: #fff
                h3
                   
                    font: 18px/33px MicrosoftYaHei-Bold
                    color: #233975
                    img
                        margin: 0  10px 0 0
                p
                    margin: 20px  0 16px 0
                    height: 46px
                    
                    font: 14px/22px MicrosoftYaHei-Bold
                    color: #a6a6a6
                    -webkit-box-orient: vertical
                    -webkit-line-clamp: 2
                    overflow: hidden
                    text-overflow:ellipsis
                .arc-btn
                    display: inline-block
                    width: 118px
                    height: 30px
                    border: solid 2px #233975
                    text-align: center
                    line-height: 30px
                .arc-btn:hover
                    color: #fff
                    background: #233975
                span
                    display: inline-block
                    position: absolute
                    right: 0
                    top: 0
                    margin-top: 90px
                    width: 1px 
                    height: 60px
                    background:  #ccc
                    
                



        .h3-title
            margin: 80px 0 0 0
        .arc-box
            margin: 38px 0 0 0
            .arc-left
                padding: 20px 50px 42px
                box-sizing: border-box
                width: 546px
                background: #fff
                h4
                    font: 24px/34px MicrosoftYaHei
                    color: #bebebe
                    span
                        font: 14px/24px MicrosoftYaHei
                .p-title
                    font: 16px/40px MicrosoftYaHei
                    color: #3e3e3e
                .p-dec
                    margin-bottom: 10px
                    font: 14px/24px MicrosoftYaHei
                    color: #b2b2b2
            .arc-right
                width: 600px
            .rl-list
                position: relative
                padding: 24px 20px 30px 34px
                h3
                    font:  16px/34px MicrosoftYaHei
                    color: #4d4d4d
                    i
                        display: inline-block
                        position: absolute
                        width: 5px
                        height: 5px
                        background: #ccc
                        margin: 16px 0 0 -24px
                    span
                        color: #b2b2b2
                p
                    position: relative
                    margin-top: 10px
                    width: 440px
                    font:  14px/22px MicrosoftYaHei
                    color: #999
                    .sm-arrows
                        display: inline-block
                        position: absolute
                        right: -70px
                        bottom: 0
                        width: 33px
                        height: 20px
                        line-height: 20px
                        text-align: right
                        border-left: 1px solid #ccc
                        


            .rl-list:hover
                background:  #fff
                cursor: pointer
                h3
                    i
                        background: #233975
.data-grabbing
    .grabox
        padding: 54px 0 90px 0 


.footer
    background: #212121
    .fotbox
        padding: 40px 0 40px 0
        .foot-left 
            width: 432px
            img
                 margin-right: 14px
            .logo1
                h3
                    font: 24px/32px MicrosoftYaHei
                    color: #8b8b8b
                    span
                        font: 12px/20px MicrosoftYaHei
            .logo2
                margin-top: 40px
                h3
                    font: 18px/20px MicrosoftYaHei
                    color: #8b8b8b
                    span
                        margin-top: 10px
        .foot-center
          
            padding: 0 42px 0 52px
            width: 416px
            .item
                li
                    a
                        display: inline-block
                        padding: 0 44px
                        text-align: center
                        font: 16px/34px MicrosoftYaHei
                        color: #8b8b8b
                li:hover
                    a
                        color: #fff
        .foot-right
            ul
                li
                    p
                        text-align: center
                        font: 12px/30px MicrosoftYaHei
                        color: #fff
                .li-2
                    margin-left: 66px
.foot-bot
    font: 14px/62px MicrosoftYaHei
    text-align: center
    color: #676767
    background: #1a1919


.contact-way
    position: fixed
    z-index: 999
    bottom: 40%
    right: 0
    height: 240px
    .way-item
        margin-bottom: 1px 
        background: #0088de
     
        height: 60px
        overflow: hidden
        cursor: pointer
        .way-ico
            height: 32px
        .way-title
            font: 14px/26px MicrosoftYaHei
            color: #fff
            text-align: center
        .phone
            .way-title2
                font: 14px/24px MicrosoftYaHei
                color: #fff
                text-align: center

            

           
                

      


        
