/*------con-body-------*/
.con-body
    padding: 110px 0
    .stur-top
        h3

            text-align: center
            font: bold 26px/40px "ArialMT"
            color: #333
        p
            padding: 0 26px
            font: 16px/50px "ArialMT"
            color: #333
            span
                font: 16px/50px "ArialMT"

    .stur-center
        padding: 0 26px
        background: #f6f6f6
        border: solid 1px #e5e3e3
        h4
            text-align: center
            font: 24px/90px "ArialMT"
            color: #333
        .list-box
            margin: 0 0 10px 0
            h5
                font: 16px/24px "ArialMT"
            ul
                li
                    width: 50%
                    font: 16px/24px "ArialMT"
                &:nth-child(even)
                    font-size: 15px
        &:hover
            background: #faf9f9

        





                

/*------con-body-end-------*/