/*---------------top----------------------*/
.img {
  height: 100%;
  overflow: hidden;
}

.conter1 {
  padding: 20px 0;
  background: #fff;
}

.item-warper {
  overflow: hidden;
  margin: 0 -5px;
}

.item-warper .item-box {
  width: 25%;
  overflow: hidden;
  height: 501px;
  box-sizing: border-box;
}

.item-warper .item-box a {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  padding: 5px;
  width: 100%;
}

.item-warper .item-box a img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.item-warper .item-box a:hover img {
  transform: scale(1.2);
}

.item-warper .item-two {
  width: 50%;
}

.item-warper .item-two a {
  height: 50%;
}

.conter2 {
  padding: 10px 0 60px;
  background: #f5f5f5;
}

.con-top h3 {
  font-family: PingFangSC-Semibold;
  font-size: 28px;
  line-height: 70px;
  letter-spacing: 0px;
  color: #333333;
}

.con-top h3 .more {
  cursor: pointer;
  font-size: 16px;
}

.con-top .con-box {
  overflow: hidden;
  margin: 0 -5px;
}

.con-top .con-box .item-con {
  height: 490px;
  width: 50%;
}

.con-top .con-box .item-con a {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  padding: 5px;
  position: relative;
}

.con-top .con-box .item-con a h4 {
  position: absolute;
  left: 0;
  bottom: 1%;
  width: 100%;
  height: 40px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;
  padding: 0 20px;
  box-sizing: border-box;
}

.con-top .con-box .item-con a img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.con-top .con-box .item-con a:hover img {
  transform: scale(1.2);
}

.con-top .con-box .item-con .con-two {
  height: 50%;
}
