/*---------------top----------------------*/
.img {
  height: 100%;
  overflow: hidden;
}

.conter1 {
  padding: 20px 0;
  background: #fff;
}

.item-warper {
  overflow: hidden;
  margin: 0 -5px;
}

.item-warper .item-box {
  width: 25%;
  overflow: hidden;
  height: 501px;
  box-sizing: border-box;
}

.item-warper .item-box a {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  padding: 5px;
  width: 100%;
}

.item-warper .item-box a img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.item-warper .item-box a:hover img {
  transform: scale(1.2);
}

.item-warper .item-two {
  width: 50%;
}

.item-warper .item-two a {
  height: 50%;
}

.conter2 {
  padding: 10px 0 60px;
  background: #f5f5f5;
}

.con-top h3 {
  font-family: PingFangSC-Semibold;
  font-size: 28px;
  line-height: 70px;
  letter-spacing: 0px;
  color: #333333;
}

.con-top h3 .more {
  cursor: pointer;
  font-size: 16px;
}

.con-top .con-box {
  overflow: hidden;
  margin: 0 -5px;
}

.con-top .con-box .item-con {
  height: 490px;
  width: 50%;
}

.con-top .con-box .item-con a {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  padding: 5px;
  position: relative;
}

.con-top .con-box .item-con a h4 {
  position: absolute;
  left: 0;
  bottom: 1%s;
  width: 100%;
  height: 40px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;
  padding: 0 20px;
  box-sizing: border-box;
}

.con-top .con-box .item-con a img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.con-top .con-box .item-con a:hover img {
  transform: scale(1.2);
}

.con-top .con-box .item-con .con-two {
  height: 50%;
}

@media screen and (max-width: 768px) {
  .top {
    display: none;
  }
  .img {
    height: 100%;
    overflow: hidden;
  }
  .conter1 {
    padding: 5px 0;
    background: #fff;
  }
  .item-warper {
    overflow: hidden;
    margin: 0 -5px;
  }
  .item-warper .item-box {
    overflow: hidden;
    height: 250px;
    box-sizing: border-box;
    width: 100%;
  }
  .item-warper .item-box a {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    padding: 5px;
    width: 100%;
  }
  .item-warper .item-box a img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }
  .item-warper .item-box a:hover img {
    transform: scale(1.2);
  }
  .item-warper .item-two {
    height: 130px;
  }
  .item-warper .item-two a {
    float: left;
    width: 50%;
    height: 100%;
  }
  .conter2 {
    padding: 10px 0;
    background: #f5f5f5;
  }
  .con-top h3 {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #333333;
  }
  .con-top h3 .more {
    cursor: pointer;
    font-size: 12px;
  }
  .con-top .con-box {
    overflow: hidden;
    margin: 0 -5px;
  }
  .con-top .con-box .item-con {
    height: 245px;
    width: 100%;
  }
  .con-top .con-box .item-con a {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    padding: 5px;
    position: relative;
  }
  .con-top .con-box .item-con a h4 {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .con-top .con-box .item-con a img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }
  .con-top .con-box .item-con a:hover img {
    transform: scale(1.2);
  }
  .con-top .con-box .item-con .con-two {
    height: 50%;
    width: 50%;
  }
  .nav .nav-box .classify {
    display: none;
    width: 18%;
    position: relative;
  }
  .nav .nav-box .classify .classify-title {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: #37b4f9;
  }
  .nav .nav-box .classify .classify-title i {
    display: none;
  }
  .nav .nav-box .classify:hover .classify-list {
    display: block;
  }
  .nav .nav-box .classify .classify-list {
    display: none;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    border-bottom: 0;
    width: 100%;
    padding: 30px 0 0;
    background: rgba(40, 44, 71, 0.8);
    z-index: 999;
  }
  .nav .nav-box .classify .classify-list li {
    cursor: pointer;
  }
  .nav .nav-box .classify .classify-list li h3 {
    text-align: center;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    line-height: 68px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    border-bottom: 1px solid rgba(86, 89, 111, 0.8);
  }
  .nav .nav-box .classify .classify-list li h3 i {
    margin: 0 5px 0 0;
    font-size: 20px;
  }
  .nav .nav-box .classify .classify-list li:hover h3 {
    color: #37b4f9;
  }
  .nav .nav-box .classify .classify-list li:hover .classify-item {
    display: block;
  }
  .nav .nav-box .classify .classify-list li .classify-item {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    padding: 20px  30px;
    width: 350%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    border: 2px  solid #37b4f9;
  }
  .nav .nav-box .classify .classify-list li .classify-item .item-lsit {
    text-align: left;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 40px;
  }
  .nav .nav-box .classify .classify-list li .classify-item .item-lsit label {
    display: block;
    float: left;
    min-width: 8%;
    font: 16px/40px "PingFangSC-Regular";
    color: #00b5fe;
    text-align: right;
  }
  .nav .nav-box .classify .classify-list li .classify-item .item-lsit .a-linkd {
    float: left;
    width: 90%;
    padding: 0 0 0 5%;
    box-sizing: border-box;
  }
  .nav .nav-box .classify .classify-list li .classify-item .item-lsit .a-linkd a {
    margin: 0 5% 0 0;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999;
  }
  .nav .nav-box .classify .classify-list li .classify-item .item-lsit .a-linkd a:hover {
    color: #00b5fe;
  }
  .nav .nav-box .nav-list {
    width: 102%;
  }
  .nav .nav-box .nav-list li {
    width: 20%;
    text-align: center;
  }
  .nav .nav-box .nav-list li a {
    display: inline-block;
    padding: 0 2%;
    margin: 0 0 0 5%;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 40px;
    color: #333333;
    border-bottom: 2px solid transparent;
  }
  .nav .nav-box .nav-list li a:hover, .nav .nav-box .nav-list li a.active {
    color: #37b4f9;
    border-bottom: 2px solid #37b4f9;
  }
  .header {
    display: none;
  }
}
