/*----------------media-----------------------*/
@media screen and (max-width: 768px) {
  /* public*/
  .com-hide {
    display: none;
  }
  /*-------------heder---------------*/
  .header {
    padding: 28px 0 0 20px;
  }
  .header .searc-box {
    margin: 14px  0 0 0;
    border: 1px solid #2ab0f9;
    height: 40px;
    overflow: hidden;
  }
  .header .searc-box input {
    width: 75%;
    height: 41px;
    line-height: 41px;
    color: #333;
    padding: 0 10px;
  }
  .header .searc-box button {
    width: 20%;
    height: 41px;
    background-color: #2ab0f9;
    border: solid 1px #2ab0f9;
    text-align: center;
    color: #fff;
    line-height: 41px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer .foot-top {
    padding: 40px 0 20px;
  }
  .footer .foot-top .links .links-list {
    float: left;
    margin: 0  6%  0;
  }
}
