.center-right h4 {
  margin: 0 0 14px 0;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000;
}

.center-right .order-decbox .dec-click {
  margin: 22px 0 10px;
}

.center-right .order-decbox .dec-click li {
  width: 112px;
  background-color: #ffffff;
  border: solid 1px #e2e2e2;
  font-size: 16px;
  color: #999;
  text-align: center;
  cursor: pointer;
  line-height: 34px;
}

.center-right .order-decbox .dec-click li.active {
  color: #fff;
  background: #2ab0f9;
  border: 1px solid transparent;
}

.center-right .order-decbox .boxlist {
  display: none;
  margin: 0 0 50px 0;
}

.center-right .order-decbox .table1 {
  border: 1px solid #e2e2e2;
}

.center-right .order-decbox .list-dec {
  margin: 10px 0 0 0;
}

.center-right .order-decbox .list-dec .list-p {
  text-align: right;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #000;
}

.center-right .order-decbox .list-dec .list-p b {
  font-size: 14px;
  color: #f08302;
}

.center-right .order-decbox .list-dec .list-p span {
  font-size: 14px;
}

.center-right .order-decbox .list-dec .list-p strong {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #f08302;
}

.center-right .order-decbox .logistics {
  padding: 30px 36px;
  border: 1px solid #e2e2e2;
}

.center-right .order-decbox .logistics .logi-list .logi-data {
  width: 12%;
  margin: 0 10px 0 0;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: 0.3px;
  color: #000;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox {
  width: 80%;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list {
  position: relative;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list .after {
  position: absolute;
  left: 9%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #d2d2d2;
  border-radius: 50%;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list .before {
  position: absolute;
  left: 9.5%;
  top: 50%;
  width: 1px;
  height: 40px;
  background: #d2d2d2;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list.active .after, .center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list.active .before {
  background: #37b4f9;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list .logi-time {
  width: 10%;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: 0.3px;
  color: #000;
}

.center-right .order-decbox .logistics .logi-list .logi-decbox .dec-box-list .logi-dec {
  width: 85%;
  padding: 0 0 0 20px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: 0.3px;
  color: #000000;
}

.center-right .order-decbox .f08 {
  color: #f08200;
  font-family: PingFangSC-Regular;
}
