.center-right {
  padding: 0 0 50px 0;
}

.center-right .top-list li {
  padding: 0 30px;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
  line-height: 36px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  letter-spacing: 0px;
  color: #999999;
  cursor: pointer;
  margin: 0 -1px;
  height: 36px;
}

.center-right .top-list li.active, .center-right .top-list li:hover {
  color: #ffffff;
  background: #2ab0f9;
  border: 1px solid  transparent;
}

.center-right .top-list .top-left .l-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  background: #ccc;
  text-align: center;
  margin: 0 20px 0 0;
}

.center-right .top-list .top-left .l-img img {
  width: 100%;
  height: 100%;
}

.center-right .top-list .top-left .r-dec h3 {
  margin: 26px 0 0 0;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #000;
}

.center-right .top-list .top-left .r-dec p {
  margin: 10px 0 0 0;
  width: 86px;
  height: 30px;
  background-color: #eeeeee;
  border-radius: 4px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #999999;
  text-align: center;
}

.center-right .top-list .top-right {
  margin: 10px 0 0 0;
}

.center-right .top-list .top-right li {
  margin: 0 0 0 46px;
}

.center-right .top-list .top-right li .cen-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  line-height: 60px;
}

.center-right .top-list .top-right li p {
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000000;
}

.center-right .top-list .more-box {
  margin: 30px 0 0 0;
}

.center-right .top-list .more-box h3 {
  padding: 0 20px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background-color: #37b4f9;
}

.center-right .top-list .more-box h3 a {
  font-size: 16px;
  color: #fff;
}

.center-right .top-list .more-box p {
  padding: 0 20px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 40px;
  color: #000;
  border: 1px solid #e2e2e2;
  border-top: none;
}

.center-right .order-msg h4 {
  font-family: PingFangSC-Regular;
  font-size: 20px;
  line-height: 52px;
  letter-spacing: 1px;
  color: #333;
}

.center-right .order-msg .table1 {
  border: 1px solid #e2e2e2;
  border-bottom: none;
}

.center-right .order-msg .table1 tr th {
  width: 15%;
}

.center-right .order-msg .table1 tr td {
  width: 15%;
}

.center-right .order-msg .table1 tr td .money span {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.1px;
  color: #f08200;
}

.center-right .order-msg .table1 tr td .money span b {
  font-size: 14px;
}

.center-right .order-msg .table1 tr td .btn-box .btns {
  margin: auto;
  width: 103px;
  height: 36px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #999;
  cursor: pointer;
}

.center-right .order-msg .table1 tr td .btn-box .btns.active {
  color: #fff;
  background-color: #f08200;
}

.center-right .order-msg .table1 .w-50 {
  width: 40%;
}
