.product {
  padding: 10px 0 50px 0;
  background: #f5f5f5;
}

.product .product-box .pro-left {
  width: 80%;
  box-sizing: border-box;
}

.product .product-box .pro-left .left-top {
  padding: 24px;
  background: #fff;
}

.product .product-box .pro-left .left-top .top-l {
  width: 35%;
  margin: 0 5% 0 0;
}

.product .product-box .pro-left .left-top .top-l .top-l-img {
  text-align: center;
  height: 360px;
  border: 1px solid #bebebe;
}

.product .product-box .pro-left .left-top .top-l .top-l-img img {
  max-width: 100%;
  max-height: 100%;
}

.product .product-box .pro-left .left-top .top-l .sm-ul {
  margin: 0 -12px 0 0;
}

.product .product-box .pro-left .left-top .top-l .sm-ul li {
  width: 23%;
  margin: 6px 6px 0  0;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  text-align: center;
  line-height: 80px;
}

.product .product-box .pro-left .left-top .top-l .sm-ul li img {
  width: 80%;
  height: 90%;
}

.product .product-box .pro-left .left-top .top-r {
  width: 60%;
}

.product .product-box .pro-left .left-top .top-r h3 {
  font-family: PingFangSC-Medium;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0.3px;
  color: #000;
}

.product .product-box .pro-left .left-top .top-r h4 {
  margin: 16px 0 30px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #999;
}

.product .product-box .pro-left .left-top .top-r p {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.product .product-box .pro-left .left-top .top-r .btns {
  width: 121px;
  background: #f08200;
  text-align: center;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  line-height: 42px;
  cursor: pointer;
  margin-top: 28px;
}

.product .product-box .pro-left .left-center {
  margin: 20px 0 0 0;
}

.product .product-box .pro-left .left-center .tabs {
  background: #fff;
}

.product .product-box .pro-left .left-center .tabs li {
  float: left;
  width: 143px;
  height: 49px;
  color: #999999;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer;
}

.product .product-box .pro-left .left-center .tabs li:hover, .product .product-box .pro-left .left-center .tabs li.active {
  background-color: #37b4f9;
  color: #fff;
}

.product .product-box .pro-left .left-center .tablist .tabshow {
  overflow: hidden;
  display: none;
}

.product .product-box .pro-right {
  padding: 10px  0 0 0;
  width: 18%;
  background: #fff;
}

.product .product-box .pro-right h3 {
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 40px;
  color: #333;
  border-bottom: 1px solid #eee;
}

.product .product-box .pro-right .rec-list {
  padding: 10px 0 20px 0;
  box-sizing: border-box;
}

.product .product-box .pro-right .rec-list li {
  padding: 0 10px  10px;
}

.product .product-box .pro-right .rec-list li a {
  display: block;
  height: 72px;
}

.product .product-box .pro-right .rec-list li a .rec-img {
  width: 34%;
  margin: 0 10% 0 0;
  border: 1px solid #eee;
  text-align: center;
  overflow: hidden;
  line-height: 72px;
}

.product .product-box .pro-right .rec-list li a .rec-img img {
  vertical-align: middle;
  width: 80%;
}

.product .product-box .pro-right .rec-list li a .rec-dec {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.product .product-box .pro-right .rec-list li a:hover .rec-img {
  border-color: #1890ff;
}

.product .product-box .pro-right .rec-list li a:hover .rec-img img {
  transition: .4s;
  transform: scale(1.1);
}
