.bg-content {
  background: #f5f5f5;
  padding: 60px 0;
}

.bg-content .bg-h3 {
  margin: 30px 0 0 0;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  line-height: 52px;
  letter-spacing: 0px;
  color: #000;
}

.bg-content .recomm-box {
  overflow: hidden;
}

.bg-content .recomm-box .recon-list {
  margin: 0 -5px;
}

.bg-content .recomm-box .recon-list li {
  width: 20%;
}

.bg-content .recomm-box .recon-list li h2 {
  margin: 0 5px;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  line-height: 334px;
  color: #fff;
  height: 100%;
  background: #37b4f9;
  box-sizing: border-box;
}

.bg-content .recomm-box .recon-list li a {
  display: block;
  height: 100%;
  background: #fff;
  margin: 0  5px;
  padding: 30px 0 15px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.bg-content .recomm-box .recon-list li a:hover {
  border: 2px solid #37b4f9;
}

.bg-content .recomm-box .recon-list li a:hover img {
  transition: .4s;
  transform: scale(1.1);
}

.bg-content .recomm-box .recon-list li a .d-img {
  text-align: center;
  height: 200px;
}

.bg-content .recomm-box .recon-list li a .d-img img {
  max-width: 100%;
  max-height: 200px;
}

.bg-content .recomm-box .recon-list li a h3 {
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0.1px;
  color: #000;
}

.bg-content .recomm-box .recon-list li a p {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.bg-content .bg-center {
  margin: 0 -5px;
  overflow: hidden;
}

.bg-content .bg-center .cg-leftbox {
  width: 20%;
  margin: 0 5px 0 -5px;
  height: 600px;
}

.bg-content .bg-center .cg-leftbox img {
  width: 100%;
  max-height: 100%;
}

.bg-content .bg-center .cont-list {
  width: 80%;
  overflow: hidden;
}

.bg-content .bg-center .cont-list li {
  width: 25%;
}

.bg-content .bg-center .cont-list li a {
  display: block;
  background-color: #fff;
  height: 100%;
  background: #fff;
  margin: 0  5px 10px;
  padding: 34px 0 0 0;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.bg-content .bg-center .cont-list li a:hover {
  border: 2px solid #37b4f9;
}

.bg-content .bg-center .cont-list li a:hover img {
  transition: .4s;
  transform: scale(1.1);
}

.bg-content .bg-center .cont-list li a .imgs {
  text-align: center;
  line-height: 186px;
  height: 186px;
}

.bg-content .bg-center .cont-list li a .imgs img {
  max-width: 100%;
  max-height: 186px;
}

.bg-content .bg-center .cont-list li a h3 {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .bg-content {
    background: #f5f5f5;
    padding: 10px 0;
  }
  .bg-content .bg-h3 {
    margin: 30px 0 0 0;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    line-height: 52px;
    letter-spacing: 0px;
    color: #000;
  }
  .bg-content .recomm-box {
    overflow: hidden;
  }
  .bg-content .recomm-box .recon-list {
    margin: 0 -5px;
  }
  .bg-content .recomm-box .recon-list li {
    width: 50%;
    height: 170px;
    box-sizing: border-box;
  }
  .bg-content .recomm-box .recon-list li h2 {
    margin: 0 5px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    line-height: 170px;
    color: #fff;
    height: 100%;
    background: #37b4f9;
    box-sizing: border-box;
  }
  .bg-content .recomm-box .recon-list li a {
    display: block;
    height: 100%;
    background: #fff;
    margin: 0  5px;
    padding: 30px 0 15px;
    box-sizing: border-box;
    border: 2px solid transparent;
  }
  .bg-content .recomm-box .recon-list li a:hover {
    border: 2px solid #37b4f9;
  }
  .bg-content .recomm-box .recon-list li a:hover img {
    transition: .4s;
    transform: scale(1.1);
  }
  .bg-content .recomm-box .recon-list li a .d-img {
    text-align: center;
    height: 200px;
  }
  .bg-content .recomm-box .recon-list li a .d-img img {
    max-width: 100%;
    max-height: 100%;
  }
  .bg-content .recomm-box .recon-list li a h3 {
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0.1px;
    color: #000;
  }
  .bg-content .recomm-box .recon-list li a p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .bg-center {
    margin: 0 -5px;
    overflow: hidden;
  }
  .bg-center .cg-leftbox {
    width: 20%;
    margin: 0 5px 0 -5px;
    height: 600px;
  }
  .bg-center .cg-leftbox img {
    width: 100%;
    max-height: 100%;
  }
  .bg-center .cont-list {
    width: 80%;
    overflow: hidden;
  }
  .bg-center .cont-list li {
    width: 25%;
  }
  .bg-center .cont-list li a {
    display: block;
    background-color: #fff;
    height: 100%;
    background: #fff;
    margin: 0  5px 10px;
    padding: 34px 0 0 0;
    box-sizing: border-box;
    border: 2px solid transparent;
  }
  .bg-center .cont-list li a:hover {
    border: 2px solid #37b4f9;
  }
  .bg-center .cont-list li a:hover img {
    transition: .4s;
    transform: scale(1.1);
  }
  .bg-center .cont-list li a .imgs {
    text-align: center;
    line-height: 186px;
    height: 186px;
  }
  .bg-center .cont-list li a .imgs img {
    max-width: 100%;
    max-height: 186px;
  }
  .bg-center .cont-list li a h3 {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
