@charset "UTF-8";
/* public  */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  vertical-align: middle;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 5px solid #ccc;
  border-radius: 50%;
}

/* ------顶部-----*/
.banner {
  position: relative;
}

.fixed {
  position: absolute;
  width: 100%;
  height: 220px;
  z-index: 99;
}

.head-list {
  color: #fff;
  font-family: MicrosoftYaHei;
  letter-spacing: 0.2px;
}

.head-list .head-title {
  line-height: 32px;
}

.head-list .head-collect span {
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 12px;
  background-color: #fff;
  opacity: 0.59;
}

.head-list .head-collect li {
  line-height: 32px;
}

.top {
  border-top: 1px solid  #999;
  border-bottom: 1px solid #999;
}

.top .top-box {
  margin: 32px auto 28px;
}

.top .top-box .logo-box {
  margin-right: 20px;
}

.top .top-box .top-tilte {
  color: #fff;
  font-family: MicrosoftYaHei;
  font-size: 28px;
  line-height: 33px;
}

.top .top-box .top-tilte span {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 0.3px;
}

.top .top-box .top-right {
  font-size: 18px;
  line-height: 33px;
  color: #fff;
}

.top .top-box .top-right span {
  float: right;
  font: 18px/33px MicrosoftYaHei;
  font-weight: bold;
}

.nav {
  height: 50px;
  border-bottom: 1px solid  #999;
}

.nav .nvbox li {
  margin: 0 34px;
}

.nav .nvbox li a {
  display: inline-block;
  padding: 0 14px;
  font-family: MicrosoftYaHei-Bold;
  font-size: 16px;
  line-height: 48px;
  color: #ffffff;
}

.nav .nvbox li a:hover {
  border-bottom: 3px solid #0088de;
}

.nav .nvbox .fist-li {
  margin-left: 0;
}

/* ------ current-nav  -----*/
.current-nav .curr-title {
  border-bottom: 1px solid #f1f1f1;
}

.current-nav .curr-title i {
  font-size: 16px;
  color: #bfbfbf;
  line-height: 52px;
}

.current-nav .curr-title span {
  color: #0088de;
}

/* ------ current-end  -----*/
/*-----bg-title ----*/
.bg-title {
  margin: 50px 0 30px;
  font: 24px/34px MicrosoftYaHei;
  color: #343434;
  text-align: center;
}

.bg-title span {
  font: 16px/24px MicrosoftYaHei;
  color: #b3b3b3;
}

/*-----bg-title  end----*/
/* ------顶部end-----*/
/*-------footer-------*/
.footer {
  background: #212121;
}

.footer .fotbox {
  padding: 40px 0 40px 0;
}

.footer .fotbox .foot-left {
  width: 432px;
}

.footer .fotbox .foot-left img {
  margin-right: 14px;
}

.footer .fotbox .foot-left .logo1 h3 {
  font: 24px/32px MicrosoftYaHei;
  color: #8b8b8b;
}

.footer .fotbox .foot-left .logo1 h3 span {
  font: 12px/20px MicrosoftYaHei;
}

.footer .fotbox .foot-left .logo2 {
  margin-top: 40px;
}

.footer .fotbox .foot-left .logo2 h3 {
  font: 18px/20px MicrosoftYaHei;
  color: #8b8b8b;
}

.footer .fotbox .foot-left .logo2 h3 span {
  margin-top: 10px;
}

.footer .fotbox .foot-center {
  padding: 0 42px 0 52px;
  width: 416px;
}

.footer .fotbox .foot-center .item li a {
  display: inline-block;
  padding: 0 44px;
  text-align: center;
  font: 16px/34px MicrosoftYaHei;
  color: #8b8b8b;
}

.footer .fotbox .foot-center .item li:hover a {
  color: #fff;
}

.footer .fotbox .foot-right ul li p {
  text-align: center;
  font: 12px/30px MicrosoftYaHei;
  color: #fff;
}

.footer .fotbox .foot-right ul .li-2 {
  margin-left: 66px;
}

.foot-bot {
  font: 14px/62px MicrosoftYaHei;
  text-align: center;
  color: #676767;
  background: #1a1919;
}

/*-------footer end-------*/
/*-------右边悬浮框-------*/
.contact-way {
  position: fixed;
  z-index: 999;
  bottom: 36%;
  right: 0;
  height: 240px;
}

.contact-way .way-item {
  position: relative;
  margin-bottom: 1px;
  padding: 10px 0 0 0;
  height: 50px;
  cursor: pointer;
}

.contact-way .way-item .way-ico {
  text-align: center;
}

.contact-way .way-item .way-ico span {
  font-size: 20px;
  color: #fff;
  line-height: 22px;
}

.contact-way .way-item .way-title {
  font: 14px/26px MicrosoftYaHei;
  color: #fff;
  text-align: center;
  width: 66px;
}

.contact-way .way-item .phone .way-title2 {
  font: 14px/24px MicrosoftYaHei;
  color: #fff;
  text-align: center;
}

.contact-way .way-item .cen-span {
  display: inline-block;
  margin: 16px 20px 0;
  height: 28px;
  width: 1px;
  background: #fff;
  opacity: 0.3;
}

.contact-way .way-item .show-way2 {
  position: absolute;
  width: 240px;
  right: 0;
}

.contact-way .way-item .way-boxs {
  position: absolute;
  height: 50px;
  padding: 10px 0 0 0;
  width: 66px;
  right: 0;
  background: #0088de;
}

/*-------右边悬浮框  end-------*/
