.banner {
  background: url("../images/ban-contents.jpg") no-repeat center center;
}

.content .title-h3 h3 {
  margin: 68px auto 22px;
  text-align: center;
  font: bold 30px/34px "ArialMT";
  color: #333;
}

.content .title-h3 .p-line {
  margin: 0 auto;
  width: 98px;
  height: 2px;
  background: #333;
}

.content .cont-dec {
  text-align: center;
  font: 14px/62px "ArialMT";
  color: #999;
}

.content .cont-dec span {
  display: inline-block;
  margin: 0 30px 0 0;
}

.content .cont-body {
  margin-bottom: 64px;
}

.content .cont-body .hres {
  border-bottom: 1px solid #eee;
}

.content .cont-body .hres h4 {
  font: bold 14px/36px "ArialMT";
  color: #333;
}

.content .cont-body .hres i {
  font-size: 14px;
  color: #1890ff;
}

.content .cont-body .hres .hrefimg {
  margin-bottom: 30px;
}

.content .cont-body .hres .hrefimg .imgname {
  margin-left: 10px;
  font: bold 14px/42px "ArialMT";
  color: #333;
}

.content .cont-body .page a {
  display: block;
  margin-top: 16px;
  font: bold 14px/30px "ArialMT";
  color: #333;
}
