.policy .polic-box {
  background: #fafafa;
}

.policy .polic-box .polic-img {
  width: 678px;
}

.policy .polic-box .polic-dec {
  padding: 14px 30px 0 20px;
  width: 470px;
}

.policy .polic-box .polic-dec .polic-item {
  margin: 0 0 10px 0;
}

.policy .polic-box .polic-dec .polic-item .num-icon {
  margin-right: 20px;
  width: 30px;
  font: 20px/30px MicrosoftYaHei;
  font-style: italic;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  color: #b3b3b3;
  text-align: center;
}

.policy .polic-box .polic-dec .polic-item .iten-dec {
  width: 418px;
  font: 14px/26px MicrosoftYaHei;
  color: #666;
  text-align: justify;
}

.policy .inorde-box {
  margin: 70px 0;
  overflow: hidden;
}

.policy .inorde-box .inorde {
  width: 1400px;
}

.policy .inorde-box .inorde .orde-item {
  position: relative;
  padding: 0 148px 0 0;
  width: 216px;
}

.policy .inorde-box .inorde .orde-item .bg-icon {
  height: 214px;
  background: #f3f7fa;
  border-radius: 50%;
}

.policy .inorde-box .inorde .orde-item span {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 214px;
  background: #ebebeb;
}

.policy .inorde-box .inorde .orde-item .click-dec {
  font: bold 16px/78px MicrosoftYaHei;
  color: #666;
  text-align: center;
}

.policy .inorde-box .inorde .orde-item .click-btn {
  margin: 0 auto;
  width: 170px;
  font: 16px/38px MicrosoftYaHei;
  background: #f3f7fa;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.policy .inorde-box .inorde .orde-item:hover .click-dec, .policy .inorde-box .inorde .active .click-dec {
  color: #0088de;
}

.policy .inorde-box .inorde .orde-item:hover .click-btn, .policy .inorde-box .inorde .active .click-btn {
  color: #fff;
  background: #0088de;
}

.policy .inorde-box .inorde .orde-item2 {
  padding-left: 124px;
}

.policy .inorde-box .inorde .orde-item3 {
  padding: 0 0 0 124px;
}

.pattern {
  padding: 0 0 58px 0;
  background: #fafafa;
}

.pattern .pat-title {
  position: relative;
  text-align: center;
  font: bold 16px/150px MicrosoftYaHei-Bold;
  color: #4c4c4c;
}

.pattern .pat-title span {
  position: absolute;
  left: 50%;
  bottom: 46px;
  display: inline-block;
  width: 24px;
  height: 3px;
  background: #0088de;
  margin-left: -12px;
}

.pattern .pay-box {
  overflow: hidden;
}

.pattern .pay-box .pay-item {
  width: 1300px;
}

.pattern .pay-box .pay-item li {
  margin-right: 37px;
}
